<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <link rel="icon" href="/assets/logo.ico/favicon-portfolio-48x48.png" />
    <link rel="apple-touch-icon" href="/assets/logo.ico/favicon-portfolio-48x48.png" />

    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/typography.css">
    <link rel="stylesheet" href="/assets/css/portfolio.css">
</head>

<body>
    <header>
        <div class="logobar">
            <img src="/assets/logo.ico/favicon-portfolio-48x48.png" alt="logo">
            <span>포트폴리오</span>
        </div>

        <nav class="navbar">
            <a href="javascript:void(0)" onclick="scrollToSection('homeSection')" class="nav-item">home</a>
            <a href="/resume" class="nav-item">resume</a>
            <a href="javascript:void(0)" onclick="scrollToSection('projectSection')" class="nav-item">projects</a>
            <a href="/" class="nav-item">blog</a>
        </nav>
    </header>

    <main>
        <div class="portfolio-cover container">
            <div class="cover-left">
                <div class="cover-header">
                    <p class="cover-title section-title">Software Developer</p>
                </div>
            </div>

            <div class="cover-right">
                <div class="portfolio-main">
                    <div class="main-header">
                        <div class="id-photo">
                            <img src="assets/avatar/pic1.jpg" alt="id-photo">
                        </div>

                        <div class="main-info">
                            <p class="user-name">남궁혁</p>
                            <p class="secondary-name">Hyeok Namgung</p>
                            <p class="contact-detail">songbyhyeok@gmail.com</p>
                            <p class="contact-detail">
                                <a href="https://github.com/songbyhyeok">github.com/songbyhyeok</a>
                            </p>
                            <p class="contact-detail">010-5013-9542</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="profile container">
            <p class="profile section-title">Profile</p>

            <div class="profile item-container">
                <div class="contact-item">
                    <div class="id-photo2">
                        <img src="assets/avatar/bio-photo.jpg" alt="id-photo">
                    </div>
                    <div class="profile-contact">
                        <p>남궁혁</p>
                        <p>1994.04.18</p>
                        <p>songbyhyeok@gmail.com</p>
                        <p class="contact-detail">
                            <a href="https://github.com/songbyhyeok">github.com/songbyhyeok</a>
                        </p>
                    </div>
                </div>
                
                <div class="contact-item2">
                    <div class="education">
                    <p class="education main-title">
                        교육
                    </p>

                    <div class="education item-container">
                            <div class="education item">
                                <p class="item-title">방송 통신 대학교 <span class="period">2022.07 ~ 2025.02</span> </p>
                                <p class="item-desc">3학년 편입, 컴퓨터 과학 3.4 / 4.5</p>
                            </div>

                            <div class="education item">
                                <p class="item-title">하이미디어 아카데미 <span class="period">2023.07 ~ 2023.12</span> </p>
                                <p class="item-desc">SpringBoot MVC Model & MyBatis & RestAPI & React</p>
                            </div>
                    </div>
                </div>

                <div class="certificate">
                    <p class="certificate main-title">
                        자격증
                    </p>

                    <div class="certificate item-container">
                        <div class="certificate item">
                            <p class="item-title">정보처리기사 <span class="period">2024.12.11</span> </p>
                        </div>

                        <div class="certificate item">
                            <p class="item-title">SQLD <span class="period">2024.09.06</span> </p>
                        </div>
                    </div>
                </div>
                </div>
                
            </div>
        </div>

        <div class="skill-stack container">
            <p class="skill-stack section-title"> Skill Set</p>

            <div class="skill-stack item-container">
                <div class="skill-set">
                    <div class="skill-title">
                        <p>Languages</p>
                    </div>

                    <div class="skill-item-list">
                        <table>
                            <tr>
                                <td>Java</td>
                                <td>C++</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="skill-set">
                    <div class="skill-title">
                        <p>Backend</p>
                    </div>

                    <div class="skill-item-list">
                        <table>
                            <tr>
                                <td>SpringBoot</td>
                                <td>JPA</td>
                                <td>MySQL8</td>
                                <td>AWS(EC2, RDS)</td>
                                <td>Docker</td>
                                <td>Github Actions</td>
                                <td>Redis</td>
                                <td>Nginx</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="skill-set">
                    <div class="skill-title">
                        <p>Frontend</p>
                    </div>

                    <div class="skill-item-list">
                        <table>
                            <tr>
                                <td>HTML5</td>
                                <td>CSS3</td>
                                <td>Spring Thymeleaf</td>
                                <td>Bootstrap</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="project container" id="projectSection">
            <p class="project section-title">Project</p>

            <div class="project item-container">
                <div class="project-item">
                    <a href="https://songbyhyeok.github.io/projects/enter-the-gungeon/" target="_blank">
                        <div class="project-title">
                            <p>enter the gungeon</p>
                        </div>

                        <div class="project-period">
                            <p>2021.06 ~ 2022.03</p>
                        </div>

                        <div class="project-imgbox">
                            <img src="assets/image/projects/enter the gungeon/gungeon-logo.png"
                                alt="Example Image">
                        </div>

                        <div class="project-info">
                            <p class="project-type">개인 프로젝트</p>
                            <p class="project-desc">
                                2.5D 로그라이크 장르의 탄막 슈팅 게임
                            </p>
                            <p class="project-stack">C, C++, Window API</p>
                        </div>
                    </a>
                </div>

                <div class="project-item">
                    <a href="https://songbyhyeok.github.io/projects/hicoding-groupware" target="_blank">
                        <div class="project-title">
                            <p>hicoding-groupware</p>
                        </div>

                        <div class="project-period">
                            <p>2023.11 ~ 2023.12</p>
                        </div>

                        <div class="project-imgbox">
                            <img src="assets/image/projects/hicoding/hicoding-logo.png"
                                alt="Example Image">
                        </div>

                        <div class="project-info">
                            <p class="project-type">팀 프로젝트</p>
                            <p class="project-desc">
                                IT 학원 업무 통합 관리 그룹웨어
                            </p>
                            <p class="project-stack">SpringBoot, JPA, RESTFul, AWS, MySQL, React</p>
                        </div>
                    </a>
                </div>

                <div class="project-item">
                    <a href="https://github.com/songbyhyeok/ci-cd-zero-downtime-auth/tree/main" target="_blank">
                        <div class="project-title">
                            <p>ci-cd-zero-downtime-auth</p>
                        </div>

                        <div class="project-period">
                            <p>2025.03 ~ 2025.05</p>
                        </div>

                        <div class="project-imgbox">
                            <img src="assets/image/projects/ci-cd-zero-downtime-auth/ci-cd-logo.png"
                                alt="Example Image">
                        </div>

                        <div class="project-info">
                            <p class="project-type">개인 프로젝트</p>
                            <p class="project-desc">
                                CI/CD 자동화, 무중단 배포, 인증·인가 시스템 구축
                            </p>
                            <p class="project-stack">Spring Security, GitHub Actions, Docker, Redis, Nginx</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="about-me container">
            <p class="about-me section-title">About Me</p>

            <p class="about-me-sub">기꺼이 오늘을 딛고 나아가며, 끝내 마주한 어려움들을 이겨냅니다. 그것이 제가 가진 힘의 원천입니다.</p>
            <p class="about-me-desc">
                <strong>‘기꺼이’란, 어떤 일이 닥쳤을 때 그것을 되레 발판 삼아 멀리 도약하는 것을 말합니다.</strong>
            </p>
            <p class="about-me-desc">
                저는 늘 그 마음으로, 어려움은 배움으로, 도전은 성장의 기회로 바꾸며 나아가고 있습니다.
            </p>
            <p class="about-me-desc">
                <strong>지금의 저는 완성된 사람이 아니라, 더 나아지고 싶은 사람입니다.</strong>
            </p>
            <p class="about-me-desc">
                작더라도 눈에 보이는 성장을 놓치지 않으려 노력해왔고, 그 과정에서 쌓인 경험과 태도는 지금의 저를 만든 핵심이 되었습니다.
            </p>
            <p class="about-me-desc">
                돌아보면 쉽지 않은 순간마다 끝까지 해내고자 했고, 그런 시간을 통해 배운 끈기와 집중력은 이제 제가 속한 조직에 실질적인 가치를 더할 수 있는 자산이 되리라 믿습니다.
            </p>
            <p class="about-me-desc">
                지금껏 그래왔듯, 앞으로도 주어진 역할 안에서 꾸준히 가치를 만들어가겠습니다. 편하실 때 언제든 연락 주세요. 열린 마음으로 기다리고 있겠습니다.
            </p>
            <p class="about-me-desc">
                끝까지 읽어주셔서 감사합니다.
            </p>
        </div>
    </main>

    <footer>
        <p>© 2025 Hyeok Namgung. all rights reserved</p>
    </footer>

    <script>
        function scrollToSection(sectionId) {
            if (sectionId === 'homeSection') {
                // 'home'이면 페이지 맨 위로 스크롤
                window.scrollTo({ top: 0, behavior: 'smooth' });
            } else {
                // 다른 섹션은 해당 요소로 스크롤
                const target = document.getElementById(sectionId);
                if (target) {
                    const targetPosition = target.offsetTop;  // 요소의 위치
                    window.scrollTo({ top: targetPosition - 100, behavior: 'smooth' });  // -10px 더 내려감
                } else {
                    console.error('잘못된 ID입니다:', sectionId);
                }
            }
        }
    </script>
</body>

</html>