<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <link rel="icon" href="/assets/logo.ico/favicon-portfolio-48x48.png" />
    <link rel="apple-touch-icon" href="/assets/logo.ico/favicon-portfolio-48x48.png" />

    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/typography.css">
    <link rel="stylesheet" href="/assets/css/portfolio.css">
</head>

<body>
    <header>
        <div class="logobar">
            <img src="/assets/logo.ico/favicon-portfolio-48x48.png" alt="logo">
            <span>포트폴리오</span>
        </div>

        <nav class="navbar">
            <a href="javascript:void(0)" onclick="scrollToSection('homeSection')" class="nav-item">home</a>
            <a href="/resume" class="nav-item">resume</a>
            <a href="javascript:void(0)" onclick="scrollToSection('projectSection')" class="nav-item">projects</a>
            <a href="/" class="nav-item">blog</a>
        </nav>
    </header>

    <main>
        <div class="portfolio-cover">
            <div class="cover-left">
                <div class="cover-header">
                    <p class="cover-title">Portfolio</p>
                    <p class="cover-desc">2025.02.19</p>
                </div>
            </div>

            <div class="cover-right">
                <div class="portfolio-profile">
                    <div class="profile-header">
                        <div class="id-photo">
                            <img src="assets/avatar/bio-photo.jpg" alt="id-photo">
                        </div>

                        <div class="profile-info">
                            <p class="user-name">남궁혁</p>
                            <span class="secondary-name">Hyeok Namgung</span>
                            <p class="user-job">Back-end Developer</p>
                        </div>
                    </div>

                    <div class="contact-info">
                        <div class="contact-item">
                            <span class="contact-label">Email:</span>
                            <span class="contact-detail">songbyhyeok@gmail.com</span>
                        </div>

                        <div class="contact-item">
                            <span class="contact-label">GitHub:</span>
                            <span class="contact-detail"><a
                                    href="https://github.com/songbyhyeok">github.com/songbyhyeok</a></span>
                        </div>

                        <div class="contact-item">
                            <span class="contact-label">Phone:</span>
                            <span class="contact-detail">010-5013-9542</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="skill-stack container">
            <div class="skill-stack section-title">
                <p>기술</p>
            </div>

            <div class="skill-stack item-container">
                <div class="skill-set">
                    <div class="skill-title">
                        <p>Languages</p>
                    </div>

                    <div class="skill-item-list">
                        <table>
                            <tr>
                                <td>Java</td>
                                <td>C++</td>
                                <td>HTML</td>
                                <td>CSS</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="skill-set">
                    <div class="skill-title">
                        <p>Fameworks/Libraries</p>
                    </div>

                    <div class="skill-item-list">
                        <table>
                            <tr>
                                <td>SpringBoot</td>
                                <td>MyBatis</td>
                                <td>JPA</td>
                                <td>RESTFul</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="skill-set">
                    <div class="skill-title">
                        <p>DBMS</p>
                    </div>

                    <div class="skill-item-list">
                        <table>
                            <tr>
                                <td>MySQL</td>
                                <td>MyBatis</td>
                                <td>Oracle</td>
                                <td>Redis</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="skill-set">
                    <div class="skill-title">
                        <p>DevOps</p>
                    </div>

                    <div class="skill-item-list">
                        <table>
                            <tr>
                                <td>AWS</td>
                                <td>Docker</td>
                                <td>Ubuntu</td>
                                <td>GithubActions</td>
                                <td>Git</td>
                                <td>Gradle</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="skill-set">
                    <div class="skill-title">
                        <p>ETC</p>
                    </div>

                    <div class="skill-item-list">
                        <table>
                            <tr>
                                <td>PostMan</td>
                                <td>DA#Modeler</td>
                                <td>Workbench</td>
                                <td>SQLDeveloper</td>
                                <td>IntelliJ</td>
                                <td>VSCode</td>
                                <td>Figma</td>
                                <td>Slack</td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>

        <div class="project container" id="projectSection">
            <div class="project section-title">
                <p>프로젝트</p>
            </div>

            <div class="project item-container">
                <div class="project-item">
                    <a href="https://github.com/songbyhyeok/hicoding-groupware" target="_blank">
                        <div class="project-title">
                            <p>hicoding-groupware</p>
                        </div>

                        <div class="project-period">
                            <p>2023.11 ~ 2023.12</p>
                        </div>

                        <div class="project-imgbox">
                            <img src="https://github.com/user-attachments/assets/7761e103-aa35-44d7-badc-2916e7658e43"
                                alt="Example Image">
                        </div>

                        <div class="project-info">
                            <p class="project-type">팀 프로젝트</p>
                            <p class="project-desc">
                                IT 학원 업무 통합 관리 그룹웨어
                            </p>
                            <p class="project-stack">JPA, RESTFul, AWS, MySQL, React</p>
                        </div>
                    </a>
                </div>

                <div class="project-item">
                    <a href="https://github.com/songbyhyeok/gibuhagae" target="_blank">
                        <div class="project-title">
                            <p>gibuhagae</p>
                        </div>

                        <div class="project-period">
                            <p>2023.09 ~ 2023.10</p>
                        </div>

                        <div class="project-imgbox">
                            <img src="https://github.com/user-attachments/assets/31e31e91-42ab-41d8-9541-717ad39e8427"
                                alt="Example Image">
                        </div>

                        <div class="project-info">
                            <p class="project-type">팀 프로젝트</p>
                            <p class="project-desc">
                                적립금 기능 탑재된 반려동물 용품 쇼핑몰
                            </p>
                            <p class="project-stack">Spring, MyBatis, Oracle</p>
                        </div>
                    </a>
                </div>

                <div class="project-item">
                    <a href="https://github.com/songbyhyeok/enter-the-gungeon" target="_blank">
                        <div class="project-title">
                            <p>enter the gungeon</p>
                        </div>

                        <div class="project-period">
                            <p>2021.06 ~ 2022.03</p>
                        </div>

                        <div class="project-imgbox">
                            <img src="https://github.com/user-attachments/assets/6d77d7ea-526b-4ee9-8b44-31b9fe85b04f"
                                alt="Example Image">
                        </div>

                        <div class="project-info">
                            <p class="project-type">개인 프로젝트</p>
                            <p class="project-desc">
                                2.5D 로그라이크 장르의 탄막 슈팅 게임
                            </p>
                            <p class="project-stack">C, C++, Window API</p>
                        </div>
                    </a>
                </div>

            </div>
        </div>

        <div class="education container">
            <div class="education section-title">
                <p>교육</p>
            </div>

            <div class="education item-container">
                <div class="education item">
                    <p class="item-title">방송 통신 대학교 <span class="period">2022.07 ~ 2025.02</span> </p>
                    <p class="item-desc">3학년 편입, 컴퓨터 과학 3.4 / 4.5</p>
                </div>

                <div class="education item">
                    <p class="item-title">하이미디어 아카데미 <span class="period">2023.07 ~ 2023.12</span> </p>
                    <p class="item-desc">SpringBoot MVC Model & MyBatis & RestAPI & React</p>
                </div>
            </div>
        </div>

        <div class="certificate container">
            <div class="certificate section-title">
                <p>자격증</p>
            </div>

            <div class="certificate item-container">
                <div class="certificate item">
                    <p class="item-title">정보처리기사 <span class="period">2024.12.11</span> </p>
                </div>

                <div class="certificate item">
                    <p class="item-title">SQLD <span class="period">2024.09.06</span> </p>
                </div>
            </div>
        </div>

        <div class="other container">
            <div class="other section-title">
                <p>학습</p>
            </div>

            <div class="other item-container">
                <div class="other item">
                    <p class="item-title">그림으로 배우는 HTTP & Network Basic 스터디 <span class="period">2025.02.04 ~ </span>
                    </p>

                    <ul>
                        <li class="item-desc"><a href="https://github.com/songbyhyeok/Learning-HTTP-Network-Basics-through-Illustrations"
                                target="_blank" class="other-link">github link</a></li>
                        <li class="item-desc">웹 데이터 통신의 기초를 학습하기 위해 개최</li>
                        <li class="item-desc">디스코드를 활용한 발표 및 토의 진행 방식</li>
                        <li class="item-desc">책 챕터 정리 자료와 발표 자료를 GitHub 저장소에 체계적으로 정리
                            <ul>
                                <li class="item-desc"><a href="https://github.com/songbyhyeok/Learning-HTTP-Network-Basics-through-Illustrations/tree/c001933d89ab27bf89c5278a772f520d6d9146f7/%EC%9E%90%EB%A3%8C%EC%8B%A4/%EB%B0%9C%ED%91%9C%20%EC%9E%90%EB%A3%8C"
                                        target="_blank" class="other-related-link">발표자료</a></li>
                                <li class="item-desc"><a href="https://github.com/songbyhyeok/Learning-HTTP-Network-Basics-through-Illustrations/tree/c001933d89ab27bf89c5278a772f520d6d9146f7/%EC%9E%90%EB%A3%8C%EC%8B%A4/%EC%A0%95%EB%A6%AC%20%EC%9E%90%EB%A3%8C"
                                        target="_blank" class="other-related-link">요약자료</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <br>

                <div class="other item">
                    <p class="item-title">CS 기상 스터디 <span class="period">2024.12.30 ~ </span> </p>
                    
                    <li class="item-desc"><a href="https://gaan.notion.site/CS-12bfbb391d798090bd49f6bfe5ff41c1" target="_blank"
                        class="other-link">notion link</a></li>
                    <li class="item-desc">매주 새로운 파트너와 함께 주 2~3회 학습한 주제에 대해 발표하는 스터디</li>
                    <li class="item-desc">글쓰기/발표/포스팅/CS지식 학습을 목표로 꾸준히 스터디에 참여 중</li>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <p>© 2025 Hyeok Namgung. all rights reserved</p>
    </footer>

    <script>
        function scrollToSection(sectionId) {
            if (sectionId === 'homeSection') {
                // 'home'이면 페이지 맨 위로 스크롤
                window.scrollTo({ top: 0, behavior: 'smooth' });
            } else {
                // 다른 섹션은 해당 요소로 스크롤
                const target = document.getElementById(sectionId);
                if (target) {
                    const targetPosition = target.offsetTop;  // 요소의 위치
                    window.scrollTo({ top: targetPosition - 100, behavior: 'smooth' });  // -10px 더 내려감
                } else {
                    console.error('잘못된 ID입니다:', sectionId);
                }
            }
        }
    </script>
</body>

</html>