<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>resume</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <link rel="icon" href="/assets/logo.ico/favicon-resume-32x32.png" />
    <link rel="apple-touch-icon" href="/assets/logo.ico/favicon-resume-32x32.png" />

    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/typography.css">
    <link rel="stylesheet" href="/assets/css/resume.css">
</head>

<body>
    <div class="container">
        <header class="profile">
            <div class="info">
                <p class="name">남궁혁</p>
                <p class="dev-role">백엔드 개발자</p>
                
                <div class="contact">
                    <!-- <div class="item title">
                        <p>birth:</p>
                    </div>

                    <div class="item">1994.04.18</div> -->

                    <div class="item title">
                        <p>email:</p>
                    </div>
                    
                    <div class="item">songbyhyeok@knou.ac.kr</div>

                    <div class="item title">
                        <p>phone:</p>
                    </div>

                    <div class="item">010-5013-9542</div>

                    <div class="item title">
                        <p>github:</p>
                    </div>

                    <div class="item">
                        <p><a href="https://github.com/songbyhyeok" target="_blank">github.com/songbyhyeok</a></p>
                    </div>

                    <div class="item title">
                        <p>blog:</p>
                    </div>

                    <div class="item">
                        <p><a href="https://songbyhyeok.github.io" target="_blank">songbyhyeok.github.io</a></p>
                    </div>

                    <div class="item title">
                        <p>portfolio:</p>
                    </div>

                    <div class="item">
                        <p><a href="https://songbyhyeok.github.io/portfolio" target="_blank">songbyhyeok.github.io/portfolio</a></p>
                    </div>
                </div>
            </div>

            <div class="id-photo">
                <img src="assets/avatar/id-photo.jpg" alt="id-photo">
            </div>
        </header>

        <div class="section">
            <h2>Introduction</h2>
            <p class="introduction">
                클라이언트 게임 및 웹 풀스택까지 여러 가지의 도구 및 재료로 사람들과 다양한 레시피를 만들어 보면서 도구 활용 능력, A부터 Z까지의 코드 분석 및 개발 그리고 에러 처리를 통해 문제
                해결 역량을 길러왔습니다.
                문제는 호기심에 대한 탐구, 해결은 창의적 예술, 성장은 근성과 수용이라는 프로그래밍 철학적 근간을 가진 한 명의 프로그래머로써 사명감을 갖고 모두가 만족하는 소프트웨어 제작을 하고
                싶습니다.
            </p>
        </div>

        <div class="section">
            <h2>Projects</h2>
            <h3>hicoding-groupware <span class="period">2023.11 ~ 2023.12</span> </h3>
            <p class="desc"><a
                    href="https://github.com/songbyhyeok/hicoding-groupware">github.com/songbyhyeok/hicoding-groupware</a>
            </p>
            <p class="desc">팀 프로젝트</p>
            <div class="features">
                <p>IT 학원 업무 통합 관리 그룹웨어</p>

                <li>M-aryTree 변환 및 DFS-Stack 활용한 답글/대댓글 구현</li>
                <li>AWS (EC2, RDS, S3) 서비스 활용한 SpringBoot & React 배포</li>
                <li>문자열 알고리즘을 활용한 부서별 사번 생성 자동화 시스템 구현 및 Criteria 모듈화 및 커스텀을 통한 사원 상세조회 구현</li>
                <li>@LastModifiedDate를 활용한 조회수/좋아요 구현</li>
            </div>

            <table>
                <tr>
                    <td>JPA(DataJPA, Criteria)</td>
                    <td>RESTFul</td>
                    <td>Deploy(AWS(EC2, S3, RDS), Docker, Ubuntu)</td>
                    <td>MySQL</td>
                    <td>React</td>
                </tr>
            </table>

            <h3>gibuhagae <span class="period">2023.09 ~ 2023.10</span> </h3>
            <p class="desc"><a href="https://github.com/songbyhyeok/gibuhagae">github.com/songbyhyeok/gibuhagae</a></p>
            <p class="desc">팀 프로젝트</p>

            <div class="features">
                <p>적립금 기능 탑재된 반려동물 용품 쇼핑몰</p>

                <li>Spring Security(Remember Me), Session 로그인 시스템 구축 및 관련 기능 구현</li>
                <li>회원가입/수정, 정규표현식을 활용한 유효성 검사 처리</li>
            </div>

            <table>
                <tr>
                    <td>Spring(MVC, Security, Thymeleaf)</td>
                    <td>MyBatis</td>
                    <td>Oracle</td>
                </tr>
            </table>

            <h3>enter the gungeon <span class="period">2021.06 ~ 2022.03</span> </h3>
            <p class="desc"><a
                    href="https://github.com/songbyhyeok/enter-the-gungeon">github.com/songbyhyeok/enter-the-gungeon</a>
            </p>
            <p class="desc">개인 프로젝트</p>

            <div class="features">
                <p>2.5D 로그라이크 장르의 탄막 슈팅 게임</p>
            </div>

            <table>
                <tr>
                    <td>C</td>
                    <td>C++</td>
                    <td>Window API</td>
                </tr>
            </table>
        </div>

        <div class="section">
            <h2>Education</h2>
            <p class="q-item">방송 통신 대학교 <span class="period">2022.07 ~ 2025.02</span> </p>
            <p class="desc">3학년 편입, 컴퓨터 과학 3.4 / 4.5</p>

            <p class="q-item">하이미디어 아카데미 <span class="period">2023.07 ~ 2023.12</span> </p>
            <p class="desc">SpringBoot Mvc Model & MyBatis & RestAPI & React</p>
        </div>

        <div class="section">
            <h2>Certificate</h2>
            <p class="q-item">정보처리기사 <span class="period">2024.12.11</span> </p>
            <p class="q-item">SQLD <span class="period">2024.09.06</span> </p>
        </div>

        <div class="section">
            <h2>Other</h2>
            <p class="q-item">CS 기상 스터디 <span class="period">2024.12.30 ~ </span> </p>
            <p class="desc">매주 새로 배정된 파트너와 주 2~3회 학습한 주제에 대해 발표하는 스터디입니다. 글쓰기/발표/포스팅/CS지식 공부 목적으로 꾸준히 참여하고 있습니다.</p>
            <p class="desc"><a href="https://gaan.notion.site/CS-12bfbb391d798090bd49f6bfe5ff41c1" target="_blank" class="study-link">link</a></p>

            <p class="q-item">그림으로 배우는 HTTP & Network Basic 스터디 <span class="period">2025.02.04 ~ </span> </p>
            <p class="desc">이 스터디는 웹과 인터넷 데이터 통신의 기초를 학습하기 위해 개최하였습니다. 주 4일 동안 4명이 함께 서적을 읽고, 각자 준비한 내용을 발표하거나 토의하는 방식으로 진행됩니다.</p>
            <p class="desc"><a href="https://github.com/songbyhyeok/Learning-HTTP-Network-Basics-through-Illustrations" target="_blank" class="study-link">link</a></p>
        </div>

    </div>
</body>

</html>