<!-- <!DOCTYPE html> -->
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>resume</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/resume.css">
</head>

<body>

    <div class="container">
        <header class="profile">
            <div class="info">
                <p class="name">남궁혁</p>
                <p class="job-title">백엔드 개발자</p>

                <p>github: <a href="https://github.com/songbyhyeok" target="_blank">github.com/songbyhyeok</a></p>
                <p>blog: <a href="https://songbyhyeok.github.io" target="_blank">songbyhyeok.github.io</a></p>
                <p>phone: 010-5013-9542</p>
                <p>email: songbyhyeok@knou.ac.kr</p>
                <p>birth: 1994</p>
            </div>

            <div class="photo">
                <img src="assets/avatar/bio-photo.jpg" alt="id-photo">
            </div>
        </header>

        <div class="section">
            <h2>introduce</h2>
        </div>

        <div class="section">
            <h2>skill</h2>
            Spring, JPA, MyBatis, Restful, DBMS(Oracle, MySQL), Deploy(AWS, Ubuntu), React
            Git/Github/Actions, PostMan, DA#Modeler, SQL Developer, MySQL Workbench, Slack, Figma
        </div>

        <div class="section">
            <h2>project</h2>

            <h3>하이 코딩 그룹웨어 (팀 프로젝트) 2023.11 ~ 2023.12</h3>
            <li>IT 학원 업무 통합 관리 그룹웨어</li>
            <li>RestFul(Spring(Boot, JPA(DataJPA, Criteria)), Deploy(AWS(EC2, S3, RDS), Docker, Ubuntu), MySQL</li>
            <li>M-aryTree 변환 및 DFS-Stack 활용한 답글/대댓글 구현</li>
            <li>AWS (EC2, RDS, S3) 서비스 활용한 SpringBoot & React 배포</li>
            <li>문자열 알고리즘을 활용한 부서별 사번 생성 자동화 시스템 구현 및 Criteria 모듈화 및 커스텀을 통한 사원 상세조회 구현</li>
            <li>@LastModifiedDate를 활용한 조회수/좋아요 구현</li>
            <li>portfolio: <a
                    href="https://github.com/songbyhyeok/hicoding-groupware">github.com/songbyhyeok/gibuhagae</a>
            </li>

            <h3>기부하개(팀 프로젝트) 2023.09 ~ 2023.10</h3>
            <li>적립금 기능 탑재된 반려동물 용품 쇼핑몰</li>
            <li>SpringBoot(Security, Thymeleaf, Mvc), Mybatis, Oracle</li>
            <li>Spring Security(Remember Me), Session 로그인 시스템 구축 및 관련 기능 구현</li>
            <li>회원가입/수정, 정규표현식을 활용한 유효성 검사 처리</li>
            <li>portfolio: <a href="https://github.com/songbyhyeok/gibuhagae">github.com/songbyhyeok/gibuhagae</a></li>

            <h3>enter the gungeon (개인 프로젝트) 2021.06 ~ 2022.03</h3>
            <li>2.5D 로그라이크 장르의 탄막 슈팅 게임</li>
            <li>C/C++, Window32API 기반</li>
            <li>portfolio: <a
                    href="https://github.com/songbyhyeok/enter-the-gungeon">github.com/songbyhyeok/enter-the-gungeon</a>
            </li>
        </div>

        <div class="section">
            <h2>education</h2>
            <h3>방송 통신 대학교 2022.07 ~ 2025.02</h3>
            3학년 편입, 컴퓨터 과학 3.4 / 4.5
            <h3>하이미디어 아카데미 2023.07 ~ 2023.12</h3>
            SpringBoot Mvc Model & MyBatis & RestAPI & React
        </div>

        <div class="section">
            <h2>certificate</h2>
            <h3>정보처리기사 2024.12.11</h3>
            <h3>SQLD 2024.09.06</h3>
        </div>

        <div class="section">
            <h2>etc</h2>
            <h3>육군 병장 만기 전역</h3>
        </div>
        
    </div>
</body>

</html>