html {
    margin: 0;
    padding: 0;
    
    width: 100%;
    min-height: 200vh;
    height: 2080px;
}

header {
    display: flex;
    justify-content: center;
    
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    
    width: 100%;
    min-height: 100px;
    max-height: 100px;
    height: 100px;
    background-color: #f1f1f1;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: top 0.3s;
}

header > .logobar img{
    width: 48px;
    height: 48px;
    max-width: 48px; 
    max-height: 48px; 
    
    margin-right: 0.5em;
}

header > .navbar {
    display: flex;
    justify-content: center;
    gap: 2em;
    align-items: center;
    margin-left: 55%;
    min-height: 85px;
}

header > .navbar > .nav-item {
    text-decoration: none;
    text-align: center;
    font-size: x-large;
    font-weight: 500;
    color: #000000;
}

body {    
    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    margin: 0;
    padding: 0;

    background-color: #f1f1f1;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;    
    min-height: 100px;
    max-height: 100px;

    background-color: #383838;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}

footer > #copyright {
    color: white;
    font-size: medium;
    font-weight: 300;
}

h1, h2, h3 {
    margin: 0;
}

h2 {
    font-weight: 500;    
    color: rgba(0, 0, 0, 0.7);

    margin-top: 1em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid silver;    
}

h3 {
    font-weight: 400;

    margin-top: 0.5em;
    padding-bottom: 0.4em;
}

li, ul {
    margin:0%;
    margin-left: 3%;
    padding: 0;
}

li {
    font-size: 15px;

    padding-bottom: 0.3em;
}

p {
    font-size: 15px;

    margin: 0;
    padding-top: 0.2em;
    padding-bottom: 0.4em;
}

table {
    border-collapse: separate; 
    border-spacing: 5;         
}
  
th, td {
    background-color: rgb(156, 156, 166);
    color: white;

    font-size: small;
    text-align: center;       
    
    padding: 0 0.3em 0.2em 0.3em;
    border-radius: 5px;        
}

.container {   
    
    height: 100%;
    margin-top: 85px;
    background-color: #f1f1f1;

    display: flex;              
    justify-content: center;
    padding: 4% 5%;
    box-sizing: border-box;
}

.logobar {
    display: flex;
    justify-content: center;  
    align-items: center;   

    text-align: center;
    font-size: xx-large;
    font-weight: 500;
    color: #000000;
}

.skill-item {    
    display: flex; 
    flex-wrap: wrap; 
    margin: 0;
    padding: 0;
    width: auto;
}

.skill-item li {
    width: 30%;
    box-sizing: border-box;
}

.projects {
    display: flex; 
    flex-wrap: wrap; 
    margin: 0;
    padding: 0;
}

.project {
    border: 1px solid #000000;
}