
header {
    display: flex;
    justify-content: center;
    
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100px;
    max-height: 100px;
    background-color: #f1f1f1;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: top 0.3s;
}

header > .logobar {
    display: flex;
    justify-content: center;  
    align-items: center;   

    text-align: center;
    font-size: xx-large;
    font-weight: 500;
    color: #000000;
}

header > .logobar img {
    width: 48px;
    height: 48px;
    max-width: 48px; 
    max-height: 48px; 
    
    margin-right: 0.5em;
}

header > .navbar {
    display: flex;
    justify-content: center;
    gap: 2em;
    align-items: center;
    margin-left: 55%;
    min-height: 85px;
}

header > .navbar > .nav-item {
    text-decoration: none;
    text-align: center;
    font-size: x-large;
    font-weight: 500;
    color: #000000;
}

header > .navbar > .nav-item:hover {
    border-bottom: 4px solid rgba(0, 0, 0, 0.5);
}

main {
    min-width: 375px;
    min-height: 667px;
    max-width: 100%;    
    background-color: #ffffff;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;     
}

.container {
    width: 100%;
    max-width: 100%;  
    background: linear-gradient(-60deg, #F5F5F5, #D3D3D3);
    padding-top: 5%;
    padding-bottom: 9%;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.section-title {
    font-size: clamp(58px, 5vw, 68px);
    font-weight: 500;
    margin: 0;
    padding: 0;
    padding-left: 5%;
    padding-bottom: 2%;
}

.item-container {
    width: 100%;
    height: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.portfolio-cover {
    flex-direction: row;
}

.cover-left {
    flex: 6.3; 
}

.cover-header {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 10% 0 0 3%;
    object-fit: contain;
}

.cover-right {
    flex: 4.5;
}

.portfolio-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5%;
    margin-top: 75%;
}

.main-header {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 3%;  
}

.id-photo {
    max-width: 100%;
    max-height: auto;
    object-fit: contain; 
}

.id-photo img{
    width: 400px;
    max-width: 100%; 
    max-height: 100%;    
    object-fit: contain;  
    border: 1px solid rgba(0, 0, 0, 0.2);    
    border-radius: 5px;
    box-sizing: border-box;      
}

.main-info {
    width: 100%;
}

.user-name{    
    font-size: clamp(35px, 3vw, 55px);
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.secondary-name {
    font-size: clamp(25px, 3vw, 30px);
    font-weight: 400;
    margin: 0;
    padding: 0;
    padding-bottom: 3%;
}

.contact-detail {
    font-size: clamp(15px, 3vw, 20px);
    font-weight: 300;
    margin: 0;
    padding: 0;
    padding-top: 1%;
    padding-bottom: 1%;
}

.contact-detail a {
    text-decoration: none;
    color: blue;
}

.profile.container {
    padding-top: 5%;
    padding-bottom: 4%;
}

.profile.item-container {
}

.contact-item {
    margin-left: 5%;
    padding-bottom: 4.5%;
    display: flex;
    flex-direction: row;
    justify-content: start; 
    align-items: start;
    gap: 4%;
}

.id-photo2 {
    width: 200px;
    max-height: auto;
    object-fit: contain; 
}

.id-photo2 img{
    width: 200px;
    object-fit: contain;  
    border: 1px solid rgba(0, 0, 0, 0.2);    
    border-radius: 5px;
    box-sizing: border-box;      
}

.profile-contact {
    padding-top: 1%;
}

.profile-contact p{
    font-size: clamp(23px, 2vw, 27px);
}

.contact-item2 {
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: start; 
    align-items: start;
    gap: 12%;
}

.main-title {
    font-size: clamp(35px, 3vw, 40px);
    font-weight: 400;
}

.education.item-container {
    display: flex;  
    flex-direction: column;
    justify-content: start;
    align-items: start;
    object-fit: contain;   
}

.certificate.item-container {
    display: flex;  
    flex-direction: column;
    justify-content: start;
    align-items: start;
    object-fit: contain;   
}

.item-title{
    font-size: clamp(17px, 1.4vw, 22px);
    font-weight: 500;
}

.item-title span {
    font-size: clamp(14px, 1vw, 19px);
    font-weight: 300;
}

.item-desc {
    font-size: clamp(16px, 1vw, 21px);
    font-weight: 350;
}

.skill-stack.container {
    padding: 0;
    padding-bottom: 22%;
}

.skill-stack.section-title {
    padding-top: 5%;
}

.skill-stack.item-container {
    display: flex;  
    flex-direction: column;
    justify-content: start;
    align-items: start;
    object-fit: contain;    
}

.skill-set {
    width: 100%;
    height: 90px;
    margin: 0;    
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;     
    object-fit: contain;
    position: relative;
}

.skill-title{
    padding-top: 5%;
    padding-left: 6%;
}

.skill-title p{
    font-size: clamp(28px, 2vw, 35px);
    font-weight: 500;
}

.skill-item-list {    
    margin: 0;
    padding: 0;
    padding-top: 5%;
    display: flex; 
    flex-wrap: wrap; 
    position: absolute;
    left: 25%;
}

.skill-item-list td{    
    font-size: clamp(15px, 1vw, 20px);
}

.project {
    padding-bottom: 5%;
}

.project.item-container {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: start; 
    align-items: center;
    object-fit: contain; 
    flex-wrap: wrap;
    gap: 2%; 
}

.project-item {
    padding: 20px; 
    margin-bottom: 2%;
    margin-left: 6%;
    background-color: #ffffff; 
    border-radius: 10px; 
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.project-item:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7); 
}

.project-item a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    object-fit: contain;
}

.project-title p {
    font-size: clamp(17px, 1.5vw, 25px);
    font-weight: 400;
}

.project-period p {
    font-size: clamp(13px, 1vw, 18px);
    font-weight: 300;
}

.project-imgbox {       
    width: 100%;
    height: 150px;
    max-width: 330px;     
    max-height: 150px;
    padding-top: 10%; 
    padding-bottom: 10%;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-imgbox img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;    
}

.project-type {
    font-size: clamp(12px, 1vw, 20px);
    font-weight: 400;
}

.project-desc {
    font-size: clamp(11px, 1vw, 18px);
    font-weight: 350;
}

.project-stack{
    font-size: clamp(10px, 1vw, 17px);
    font-weight: 300;
}

.project-element {
    display: flex;  
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project-element.subsection {
    width: 90%;
    height: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-top: 3%;
}

.project-element-header {
    width: 50%;
    display: flex;  
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 4%;
    padding-left: 3%;
}

.project-element-imgbox {
    width: 100%;
    height: auto;
    max-width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    object-fit: contain;
}

.project-element-imgbox img {
    max-width: 100%;
    object-fit: contain;
}

.project-element-intro {
    padding-top: 1%;
}

.project-element-intro-title{
    font-size: clamp(30px, 1vw, 35px);
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.project-element-intro-subtitle{
    font-size: clamp(15px, 1vw, 20px);
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.8);
}

.project-element-intro-link-div {
    padding-top: 6%;
}

.project-element-intro-link{
    font-size: clamp(13px, 1vw, 18px);
    font-weight: 400;
    margin: 0;
    padding: 0;
    padding-top: 1%;
}

.project-element-intro-link a {
    text-decoration: none;  
    font-weight: 300;
    color: rgba(0, 0, 255, 1);
}

.project-element-intro-link a:visited {
    color: rgba(0, 0, 255, 1);
}

.project-element-spec {
    width: 85%;
    display: flex;  
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-top: 2%;
    padding-left: 3%;
}

.spec-item {
    width: 100%;
    display: flex;  
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 1%;
    padding-bottom: 1%;
}

.spec-key {
    font-size: clamp(17px, 1vw, 22px);
    font-weight: 450;
}

.spec-value {
    font-size: clamp(17px, 1vw, 22px);
}

.project-element-details { 
    padding-left: 3%;
}

.detail-section-title {
    font-size: clamp(25px, 1vw, 30px);
    font-weight: 600;
}

.detail-section h3 {
    font-weight: 600;
}

.detail-section > li {
    font-size: clamp(17px, 1vw, 22px);
    font-weight: 600;
}

.detail-section > p {
    font-size: clamp(15px, 1vw, 20px);
    padding-left: 2%;
}

.about-me.container {
    padding-bottom: 21%;
}

.about-me-sub {
    font-size: clamp(28px, 3vw, 34px);
    font-weight: 400;
    margin: 0;
    padding: 0;
    padding-left: 6%;
    padding-bottom: 1%;
}

.about-me-desc {
    font-size: clamp(15px, 2vw, 20px);
    margin: 0;
    padding: 0;
    padding-left: 6%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

footer {
    width: 100%;    
    height: 100%;
    max-height: 80px;
    margin: 0;
    padding: 0;
    background-color: #383838;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer > p {
    color: white;    
    font-size: clamp(15px, 2vw, 20px);
    font-weight: 300;
}

@media print {
    header {
      display: none;
    }

    .section-title {
        width: 19%;
        border-bottom: none;
    }

    .project-item {
        width: 23%;
        height: auto;
    }

    .education.container {
        margin-top: 2%;
    }
}
  
@media (max-width: 1400px) {
    header > .navbar {        
        margin-left: calc(50%);
    }
}

@media (max-width: 1200px) {
    header > .navbar {        
        margin-left: calc(35%);
    }
}

@media (max-width: 992px) {
    header {
        max-height: 90px;
    }
    header > .navbar {
        display: none;
    }
}

@media (max-width: 820px) {
    .other.item > ul {
        margin-left: 4%;
    }
}

@media (max-width: 768px) {
    header {
        max-height: 70px;
    }
    header > .navbar {
        display: none;
    }

    footer {
        max-height: 60px;
    }
}

@media (max-width: 576px) {
    header {
        display: none;
    }

    .section-title {
        width: 19%;
        border-bottom: none;
    }

    .skill-set {
        flex-direction: column;
        flex-wrap: wrap; 
        gap:10px;
        justify-content: start;
        align-items: start;
    }

    .skill-item-list {    
        position: static;
    }

    footer {
        max-height: 40px;
    }
}