html, body {
    margin: 0;
    padding: 0;
    min-height: 200vh;
    width: 100%;
    height: 200vh;
}

body {    
    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    display: flex;              
    justify-content: center;    
    background-color: rgb(241, 243, 245);
}

h1, h2, h3 {
    margin: 0;
}

h2 {
    font-weight: 500;    
    color: rgba(0, 0, 0, 0.7);

    margin-top: 1em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid silver;    
}

h3 {
    font-weight: 400;

    margin-top: 0.5em;
    padding-bottom: 0.4em;
}

li, ul {
    margin:0%;
    margin-left: 3%;
    padding: 0;
}

li {
    font-size: 15px;

    padding-bottom: 0.3em;
}

p {
    font-size: 15px;

    margin: 0;
    padding-top: 0.2em;
    padding-bottom: 0.4em;
}

table {
    border-collapse: separate; 
    border-spacing: 5;         
}
  
th, td {
    background-color: rgb(156, 156, 166);
    color: white;

    font-size: small;
    text-align: center;       
    
    padding: 0 0.3em 0.2em 0.3em;
    border-radius: 5px;        
}

.period {
    color: rgb(156, 156, 166);
    font-size: small;
    font-weight: 400;
}

.desc {
    color: rgb(156, 156, 166);
    font-size: small;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.desc a {
    text-decoration: none;  
    color: blue;         
}

.q-item {
    font-size: medium;
    font-weight: 400;

    margin-top: 0.4em;
}

.features {
    margin: 0;
    margin-top: 0.3em;
    padding: 0;
}

.divider {
    border: none;              /* 기본 테두리 제거 */
    border-top: 2px solid #000000; /* 구분선 스타일 (회색 2px 실선) */
    margin: 20px 0;           
}

.child-list {
    list-style-type: circle; /* 비워진 원 */
}

.container {
    background-color: white;
    max-width: 800px;
    width: 100%;
    height: 100%;

    border-radius: 3px;
    padding: 4% 5%;
    box-sizing: border-box; /* 패딩 포함하여 계산 */
}

.profile {
    display: flex;  
}

.profile .info {
    max-width: 440px;
    width: 100%;
}

.name {
    font-size: 32px;  
    font-weight: 400;       
    font-weight: bold;     

    margin: 0;
    margin-bottom: 0.2em;
    padding: 0;
}

.job-title {
    font-size: 23px;       
    font-weight: 300;   
    color: #555;        

    margin: 0;
    margin-top: 0;         
    margin-bottom: 0.3em;   
    padding: 0;
}

.info .list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 0;
    margin-top: 1em;
    padding: 0;
}

.info .list .item p > a{
    text-decoration: none; 
    color: blue;
}

.info .list .item:nth-child(odd) {
    width: 15%;
}

.info .list .item:nth-child(odd) p{
    font-weight: 500;
}

.info .list .item:nth-child(even) {
    width: 75%;
    margin-right: 2.3em;
}

.profile .photo {
    max-width: 117px;
    max-height: 156px;
    width: 100%;
    height: 100%;

    margin-left: auto; 
}

.profile .photo img{
    margin-top: 30%;

    width: 100%;
    height: 100%;
    
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    object-fit: cover;
}

.introduction {
    margin-top: 0.5em;
}

.skill-item {    
    display: flex; /* flexbox로 가로로 나열 */
    flex-wrap: wrap; 
    margin: 0;
    padding: 0;
    width:auto;
}

.skill-item li {
    width: 30%;
    box-sizing: border-box;
}