h1, h2, h3 {
    margin: 0;
}

h2 {
    font-size: clamp(19px, 1.2vw, 25px);
    font-weight: 500;    
    color: rgba(0, 0, 0, 0.7);

    margin-top: 1em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid silver;    
}

h3 {
    font-weight: 400;
    font-size: clamp(17px, 1vw, 23px);
    margin-top: 0.5em;
    padding-top: 0.7%;
    padding-bottom: 0.4%;
}

ul {
    margin: 0;
    margin-left: 2.5%;
    padding: 0;
}

li {    
    margin-left: 0.5%;
    padding-bottom: 0.3em;
    font-size: clamp(12.5px, 1vw, 14.5px);
    color: rgba(0, 0, 0, 0.8);    
}

li > ul > li {    
    padding-top: 0.2%;
    padding-bottom: 0.2%;
}

p {
    font-size: clamp(14px, 1vw, 16px);
    margin: 0;
    padding-top: 0.2em;
    padding-bottom: 0.4em;
}

table {
    border-collapse: separate; 
    border-spacing: 5;         
}
  
th, td {
    background-color: rgb(156, 156, 166);
    color: white;

    text-align: center;       
    
    padding: 0 0.3em 0.2em 0.3em;
    border-radius: 5px;        
}

td > p {
    font-size: clamp(8px, 0.8vw, 12px);
}